/*  Make sure you have the fonts Lato and Open Sans installed locally on your machine.
They're free to download from Google:

https://fonts.google.com/specimen/Lato
https://fonts.google.com/specimen/Open+Sans  */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
}

div,
textarea {
  font-family: 'Open Sans';
}

.roam-block-container {
  max-width: 1000px;
}
.roam-block, .rm-block-text {
  max-width: 850px;
}

.kanban-board {
  background-color: #fff;
}

.kanban-card {
  background-color: white;
  margin: 8px;
  box-shadow: 0px 1px 2px #9eb3c0;
  padding: 10px;
  border-radius: 2px;
  line-height: 1.3em;
}

.kanban-title {
  text-align: center;
  font-weight: bold;
  padding-top: 6px;
}

.kanban-column {
  background-color: #e4edf2;
  margin: 0px 4px 0px 4px;
  padding: 4px;
  min-width: 200px;
  border-radius: 3px;
}

.rm-block-ref {
  border-bottom: none;
  font-size: 1em;
  padding: 4px;
  color: #537ea6;
}

.checkmark {
  background: #fff;
}
.check-container input:checked ~ .checkmark {
  background: #2db4eb;
}
.check-container input:checked ~ .checkmark:after {
  border-color: #fff;
}

.rm-level3 {
  color: #8390b2;
}

.rm-page-ref {
  color: #1097b9;
}

.rm-page-ref-link-color {
  color: #e66f36;
}

a {
  color: #714fbe;
}

.intercom-app,
.intercom-launcher-frame,
#intercom-container {
  display: none !important;
}
.roam-body .roam-app .roam-sidebar-container {
  background-color: white;
  border-right: 1px #eee solid;
}
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page,
.roam-body .roam-app .roam-sidebar-container > * {
  opacity: 80%;
}
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page:hover,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .log-button:hover {
  background: white;
  color: black;
  opacity: 100%;
}
#buffer.tall {
  height: calc(100vh - 50px) !important;
}
.check-container {
  padding-right: 4px;
}
