/*  Make sure you have the fonts Lato and Dank Mono installed locally on your machine.
Lato is free to download from Google:
https://fonts.google.com/specimen/Lato

Dank Mono is available for purchase:
https://dank.sh/  

I reccomend Open Sans if you dont want to purchase Dank Mono:
https://fonts.google.com/specimen/Open+Sans
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato';
}
div,
textarea {
  font-family: 'Dank Mono';
}

.roam-block-container {
  max-width: 1000px;
}
.roam-block {
  max-width: 850px;
}

.bp3-elevation-3 {
  background-color: #697098 !important;
}

.bp3-elevation-3 > div:hover {
  background-color: #011627;
}

.kanban-board {
  background-color: #fff;
}

.kanban-card {
  background-color: white;
  margin: 8px;
  box-shadow: 0px 1px 2px #9eb3c0;
  padding: 10px;
  border-radius: 2px;
  line-height: 1.3em;
}

.kanban-title {
  text-align: center;
  font-weight: bold;
  padding-top: 6px;
}

.kanban-column {
  background-color: #e4edf2;
  margin: 0px 4px 0px 4px;
  padding: 4px;
  min-width: 200px;
  border-radius: 3px;
}


.rm-block-ref {
  border-bottom: none;
  font-size: 1em;
  padding: 4px;
  color: #697098;
}

.rm-block-ref:hover {
  background-color: #697098;
  color: #011627;
}

.checkmark {
  background: #fff;
}
.check-container input:checked ~ .checkmark {
  background: #2db4eb;
}
.check-container input:checked ~ .checkmark:after {
  border-color: #fff;
}

.rm-level3 {
  color: #8390b2;
}

.rm-page-ref {
  color: #7e57c2cc;
}

.rm-page-ref-link-color {
  color: #ffa7c4;
}

a {
  color: #64b5f6;
}

.intercom-app,
.intercom-launcher-frame,
#intercom-container {
  display: none !important;
}

.rm-reference-item div {
      background-color: #2e3250;

}

#right-sidebar div .rm-reference-item div,
.roam-topbar,
.roam-body {
  background-color: #011627;
}

.roam-body-main {
  background-color: #011627;
  color: #fff;
}

.roam-body .roam-app h1 {
  color: #fff;
}

#right-sidebar div {
  background-color: #2e3250;
}

.roam-body .roam-app .roam-sidebar-container {
  background-color: #2e3250;
  border-right: 1px #051e33 solid;
}

.roam-body .roam-app .roam-sidebar-container .roam-sidebar-content .log-button,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page,
.roam-body .roam-app .roam-sidebar-container > * {
  opacity: 0.9;
  color: #fff;
}
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .starred-pages-wrapper
  .starred-pages
  .page:hover,
.roam-body
  .roam-app
  .roam-sidebar-container
  .roam-sidebar-content
  .log-button:hover {
  background: #011627;
  color: white;
  opacity: 0.9;
}
#buffer.tall {
  height: calc(100vh - 50px) !important;
}
.check-container {
  padding-right: 4px;
}

.rm-reference-item {
  background-color: #011627;
}

.block-highlight-blue,
#roam-right-sidebar-content div .block-highlight-blue div {
  background-color: #a599e9;
}

.kanban-board {
    background: #011627;
    color: white;
}

.kanban-column {
    background-color: #2e3250;

}
.kanban-card{
    color: #011627;
}

/* highlights */

.roam-highlight {
    background-color: #a599e9;
}

/* reactions */

.rm-emoji-button {
    background-color: #697098 !important;
}




.CodeMirror{
    font-family: 'Dank Mono' !important;
    height:300px;
    color:white;
    direction:ltr;
    background: #182026 !important;
    border-radius: 5px;
}
.CodeMirror-lines{
    padding:4px 0
}
.CodeMirror pre{
    padding:0 4px;
    margin-left: 5px;
}
.CodeMirror-scrollbar-filler,.CodeMirror-gutter-filler{
    background-color:white
}
.CodeMirror-gutters{
    border-right:0px solid #ddd;
    background-color:#242F38;
    white-space:nowrap;
    width: 30px;
}
.CodeMirror-linenumber{
    padding:0 3px 0 5px;
    min-width:20px;
    text-align:right;
    color:#999;
    white-space:nowrap;
    font-family:'Dank Mono';
}
.CodeMirror-guttermarker{
    color:black
}
.CodeMirror-guttermarker-subtle{
    color:#999
}
.CodeMirror-cursor{
    border-left:2px solid #394D6C;
    border-right:0;
    margin-left: 0px;
    width:0
}
.CodeMirror div.CodeMirror-secondarycursor{
    border-left:1px solid silver
}
.cm-fat-cursor .CodeMirror-cursor{
    width:auto;
    border:0 !important;
    background:#7e7
}
.cm-fat-cursor div.CodeMirror-cursors{
    z-index:1
}
.cm-fat-cursor-mark{
    background-color:rgba(20,255,20,0.5);
    -webkit-animation:blink 1.06s steps(1) infinite;
    -moz-animation:blink 1.06s steps(1) infinite;
    animation:blink 1.06s steps(1) infinite
}
.cm-animate-fat-cursor{
    width:auto;
    border:0;
    -webkit-animation:blink 1.06s steps(1) infinite;
    -moz-animation:blink 1.06s steps(1) infinite;
    animation:blink 1.06s steps(1) infinite;
    background-color:#7e7
}
@-moz-keyframes blink{
    50%{
        background-color:transparent
    }
}
@-webkit-keyframes blink{
    50%{
        background-color:transparent
    }
}
@keyframes blink{
    50%{
        background-color:transparent
    }
}
.cm-tab{
    display:inline-block;
    text-decoration:inherit
}
.CodeMirror-rulers{
    position:absolute;
    left:0;
    right:0;
    top:-50px;
    bottom:-20px;
    overflow:hidden
}
.CodeMirror-ruler{
    border-left:1px solid #ccc;
    top:0;
    bottom:0;
    position:absolute
}
.cm-s-default .cm-header{
    color:blue
}
.cm-s-default .cm-quote{
    color:#090
}
.cm-negative{
    color:#d44
}
.cm-positive{
    color:#292
}
.cm-header,.cm-strong{
    font-weight:bold
}
.cm-em{
    font-style:italic
}
.cm-link{
    text-decoration:underline
}
.cm-strikethrough{
    text-decoration:line-through
}
.cm-s-default .cm-keyword{
    color:#f19dfd
}
.cm-s-default .cm-atom{
    color:#219
}
.cm-s-default .cm-number{
    color:#164
}
.cm-s-default .cm-def{
    color:#00f
}

.cm-variable {
    color: #fded74;
}
.cm-s-default .cm-variable-2{
    color:#05a
}
.cm-s-default .cm-variable-3,.cm-s-default .cm-type{
    color:#085
}
.cm-s-default .cm-comment{
    color:#a50
}
.cm-s-default .cm-string{
    color:#fff
}
.cm-s-default .cm-string-2{
    color:#f50
}
.cm-s-default .cm-meta{
    color:#ffbaba
}
.cm-s-default .cm-qualifier{
    color:#555
}
.cm-s-default .cm-builtin{
    color:#3dc0ff
}
.cm-s-default .cm-bracket{
    color:#997
}
.cm-s-default .cm-tag{
    color:#170
}
.cm-s-default .cm-attribute{
    color:#00c
}
.cm-s-default .cm-hr{
    color:#999
}
.cm-s-default .cm-link{
    color:#00c
}
.cm-s-default .cm-error{
    color:red
}
.cm-invalidchar{
    color:red
}
.CodeMirror-composing{
    border-bottom:2px solid
}
div.CodeMirror span.CodeMirror-matchingbracket{
    color:#0b0
}
div.CodeMirror span.CodeMirror-nonmatchingbracket{
    color:#a22
}
.CodeMirror-matchingtag{
    background:rgba(255,150,0,.3)
}
.CodeMirror-activeline-background{
    background:#242F38;
}
.CodeMirror{
    position:relative;
    overflow:hidden;
    background:white
}
.CodeMirror-scroll{
    overflow:scroll !important;
    margin-bottom:-30px;
    margin-right:-30px;
    padding-bottom:30px;
    height:100%;
    outline:0;
    position:relative
}
.CodeMirror-sizer{
    position:relative;
    border-right:30px solid transparent
}
.CodeMirror-vscrollbar,.CodeMirror-hscrollbar,.CodeMirror-scrollbar-filler,.CodeMirror-gutter-filler{
    position:absolute;
    z-index:6;
    display:none
}
.CodeMirror-vscrollbar{
    right:0;
    top:0;
    overflow-x:hidden;
    overflow-y:scroll
}
.CodeMirror-hscrollbar{
    bottom:0;
    left:0;
    overflow-y:hidden;
    overflow-x:scroll
}
.CodeMirror-scrollbar-filler{
    right:0;
    bottom:0
}
.CodeMirror-gutter-filler{
    left:0;
    bottom:0
}
.CodeMirror-gutters{
    position:absolute;
    left:0;
    top:0;
    min-height:100%;
    z-index:3
}
.CodeMirror-gutter{
    white-space:normal;
    height:100%;
    display:inline-block;
    vertical-align:top;
    margin-bottom:-30px
}
.CodeMirror-gutter-wrapper{
    position:absolute;
    z-index:4;
    background:none !important;
    border:none !important
}
.CodeMirror-gutter-background{
    position:absolute;
    top:0;
    bottom:0;
    z-index:4
}
.CodeMirror-gutter-elt{
    position:absolute;
    cursor:default;
    z-index:4
}
.CodeMirror-gutter-wrapper ::selection{
    background-color:transparent
}
.CodeMirror-gutter-wrapper ::-moz-selection{
    background-color:transparent
}
.CodeMirror-lines{
    cursor:text;
    min-height:1px
}
.CodeMirror pre{
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    border-width:0;
    background:transparent;
    font-family:'Dank Mono' !important;
    font-size:inherit;
    margin:0;
    white-space:pre;
    word-wrap:normal;
    line-height:inherit;
    color:inherit;
    z-index:2;
    position:relative;
    overflow:visible;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-variant-ligatures:contextual;
    font-variant-ligatures:contextual
}
.CodeMirror-wrap pre{
    word-wrap:break-word;
    white-space:pre-wrap;
    word-break:normal
}
.CodeMirror-linebackground{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:0
}
.CodeMirror-linewidget{
    position:relative;
    z-index:2;
    padding:.1px
}
.CodeMirror-rtl pre{
    direction:rtl
}
.CodeMirror-code{
    outline:0
}
.CodeMirror-scroll,.CodeMirror-sizer,.CodeMirror-gutter,.CodeMirror-gutters,.CodeMirror-linenumber{
    -moz-box-sizing:content-box;
    box-sizing:content-box
}
.CodeMirror-measure{
    position:absolute;
    width:100%;
    height:0;
    overflow:hidden;
    visibility:hidden
}
.CodeMirror-cursor{
    position:absolute;
    pointer-events:none
}
.CodeMirror-measure pre{
    position:static
}
div.CodeMirror-cursors{
    visibility:hidden;
    position:relative;
    z-index:3
}
div.CodeMirror-dragcursors{
    visibility:visible
}
.CodeMirror-focused div.CodeMirror-cursors{
    visibility:visible
}
.CodeMirror-selected{
    background:#d9d9d9
}
.CodeMirror-focused .CodeMirror-selected{
    background:#d7d4f0
}
.CodeMirror-crosshair{
    cursor:crosshair
}
.CodeMirror-line::selection,.CodeMirror-line>span::selection,.CodeMirror-line>span>span::selection{
    background:#d7d4f0
}
.CodeMirror-line::-moz-selection,.CodeMirror-line>span::-moz-selection,.CodeMirror-line>span>span::-moz-selection{
    background:#d7d4f0
}
.cm-searching{
    background-color:#ffa;
    background-color:rgba(255,255,0,.4)
}
.cm-force-border{
    padding-right:.1px
}
@media print{
    .CodeMirror div.CodeMirror-cursors{
        visibility:hidden
    }
}
.cm-tab-wrap-hack:after{
    content:''
}
span.CodeMirror-selectedtext{
    background:0
}
