/* ------------- Red Pomodoro ------------- */
.rm-pomodoro {
  background: #fff !important;
  color: #ff4747 !important;
  padding: 4px 14px;
  line-height: 2em;
  font-weight: 600;
  border-radius: 2em;
  border: 1px solid #ff474770;
}

.rm-pomodoro::first-letter {
  margin-right: 8px;
}

/* ------------- White Pomodoro ------------- */
.rm-pomodoro {
  background: #ff6956 !important;
  color: #fff !important;
  padding: 4px 14px;
  line-height: 2em;
  font-weight: 600;
  border-radius: 2em;
  border: 1px solid #ed5845;
}

.rm-pomodoro::first-letter {
  margin-right: 8px;
}
